body {
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #BCD2EE;
  }
  
  .style2 {
    background-color: #ACA8E6;
  }
  
  .style3 {
    background-color: #9B7EDE;
  }
  
  .style4 {
    background-color: #832161;
  }
  
  .style5 {
    background-color: #52050A;
  }
  
  .style6 {
    background-color: #76E7CD;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }